<br />
<div>
  <img src="../../assets/logo.png">
  <form>
    <input name="username" type="text" placeholder="Username" autocomplete="off"/>
    <br />
    <input name="pass" type="password" placeholder="Password" autocomplete="off"/>
    <br />
    <br />
    <button routerLink="/game">Login</button>
  </form>
  <br />
  <p>
    <a routerLink="/register" routerLinkActive="active">Don't have an account? Register Here.</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a>Forgot Password? Reset.</a>
  </p>
</div>
