<br />
<div>
  <img src="../../assets/logo.png">
  <form>
    <input name="username" type="text" placeholder="Username" autocomplete="off" [formControl]="username"/>
    <br />
    <input name="pass" type="password" placeholder="Password" autocomplete="off" [formControl]="password"/>
    <br />
    <br />
    <button (click)="login()">Login</button>
  </form>
  <br />
  <br />
  <p>
    <a routerLink="/register" routerLinkActive="active">Don't have an account? Register Here.</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a>Forgot Password? Reset.</a>
  </p>
</div>
