<svg [attr.height]="gameHeight" [attr.width]="gameWidth" >
  
  <circle [attr.cx]="xVal[0]" [attr.cy]="yVal[0]" [attr.r]="nodeRadius" /> <!-- Top Left TL #0 -->
  <circle [attr.cx]="xVal[1]" [attr.cy]="yVal[1]" [attr.r]="nodeRadius" /> <!-- Top Right TR #1 -->
  <circle [attr.cx]="xVal[2]" [attr.cy]="yVal[2]" [attr.r]="nodeRadius" /> <!-- Right R #2 -->
  <circle [attr.cx]="xVal[3]" [attr.cy]="yVal[3]" [attr.r]="nodeRadius" /> <!-- Bottom Right BR #3 -->
  <circle [attr.cx]="xVal[4]" [attr.cy]="yVal[4]" [attr.r]="nodeRadius" /> <!-- Bottom Left BL #4 -->
  <circle [attr.cx]="xVal[5]" [attr.cy]="yVal[5]" [attr.r]="nodeRadius" /> <!-- Left L #5 -->

  <path [attr.d]="getPathString(0)" [ngClass]="{'redP': lineOwner[0] === 0, 'blueP': lineOwner[0] === 1, 'noP': lineOwner[0] === 2, 'playing': isPlaying}" (click)="lineClick(0)" /> <!-- TL to TR #0 -->
  <path [attr.d]="getPathString(1)" [ngClass]="{'redP': lineOwner[1] === 0, 'blueP': lineOwner[1] === 1, 'noP': lineOwner[1] === 2, 'playing': isPlaying}" (click)="lineClick(1)" /> <!-- TL to R #1 -->
  <path [attr.d]="getPathString(2)" [ngClass]="{'redP': lineOwner[2] === 0, 'blueP': lineOwner[2] === 1, 'noP': lineOwner[2] === 2, 'playing': isPlaying}" (click)="lineClick(2)" /> <!-- TL to BR #2 -->
  <path [attr.d]="getPathString(3)" [ngClass]="{'redP': lineOwner[3] === 0, 'blueP': lineOwner[3] === 1, 'noP': lineOwner[3] === 2, 'playing': isPlaying}" (click)="lineClick(3)" /> <!-- TL to BL #3 -->
  <path [attr.d]="getPathString(4)" [ngClass]="{'redP': lineOwner[4] === 0, 'blueP': lineOwner[4] === 1, 'noP': lineOwner[4] === 2, 'playing': isPlaying}" (click)="lineClick(4)" /> <!-- TL to L #4 -->
  <path [attr.d]="getPathString(5)" [ngClass]="{'redP': lineOwner[5] === 0, 'blueP': lineOwner[5] === 1, 'noP': lineOwner[5] === 2, 'playing': isPlaying}" (click)="lineClick(5)" /> <!-- TR to R #5 -->
  <path [attr.d]="getPathString(6)" [ngClass]="{'redP': lineOwner[6] === 0, 'blueP': lineOwner[6] === 1, 'noP': lineOwner[6] === 2, 'playing': isPlaying}" (click)="lineClick(6)" /> <!-- TR to BR #6 -->
  <path [attr.d]="getPathString(7)" [ngClass]="{'redP': lineOwner[7] === 0, 'blueP': lineOwner[7] === 1, 'noP': lineOwner[7] === 2, 'playing': isPlaying}" (click)="lineClick(7)" /> <!-- TR to BL #7 -->
  <path [attr.d]="getPathString(8)" [ngClass]="{'redP': lineOwner[8] === 0, 'blueP': lineOwner[8] === 1, 'noP': lineOwner[8] === 2, 'playing': isPlaying}" (click)="lineClick(8)" /> <!-- TR to L #8 -->
  <path [attr.d]="getPathString(9)" [ngClass]="{'redP': lineOwner[9] === 0, 'blueP': lineOwner[9] === 1, 'noP': lineOwner[9] === 2, 'playing': isPlaying}" (click)="lineClick(9)" /> <!-- R to BR #9 -->
  <path [attr.d]="getPathString(10)" [ngClass]="{'redP': lineOwner[10] === 0, 'blueP': lineOwner[10] === 1, 'noP': lineOwner[10] === 2, 'playing': isPlaying}" (click)="lineClick(10)" /> <!-- R to BL #10 -->
  <path [attr.d]="getPathString(11)" [ngClass]="{'redP': lineOwner[11] === 0, 'blueP': lineOwner[11] === 1, 'noP': lineOwner[11] === 2, 'playing': isPlaying}" (click)="lineClick(11)" /> <!-- R to L #11 -->
  <path [attr.d]="getPathString(12)" [ngClass]="{'redP': lineOwner[12] === 0, 'blueP': lineOwner[12] === 1, 'noP': lineOwner[12] === 2, 'playing': isPlaying}" (click)="lineClick(12)" /> <!-- BR to BL #12 -->
  <path [attr.d]="getPathString(13)" [ngClass]="{'redP': lineOwner[13] === 0, 'blueP': lineOwner[13] === 1, 'noP': lineOwner[13] === 2, 'playing': isPlaying}" (click)="lineClick(13)" /> <!-- BR to L #13 -->
  <path [attr.d]="getPathString(14)" [ngClass]="{'redP': lineOwner[14] === 0, 'blueP': lineOwner[14] === 1, 'noP': lineOwner[14] === 2, 'playing': isPlaying}" (click)="lineClick(14)" /> <!-- BL to L #14 -->

</svg>